
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Background_image{
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: rgba(17,17,17,1);
    overflow: hidden;
}

#close-up-of-a-full-platter-of- {
    opacity: 0.13;
    position: absolute;
    width: 1920px;
    height: 1279.856px;
    left: 0px;
    top: -125px;
    overflow: visible;
}
#BOMBAY_BITES {
    left: 306px;
    top: 108px;
    position: absolute;
    overflow: visible;
    width: 316px;
    white-space: nowrap;
    text-align: left;
    font-family: Trebuchet MS;
    font-size: 50px;
    color: rgba(255,255,255,1);
}
#kisspng-catering-food-computer {
    position: absolute;
    width: 200px;
    height: 207.024px;
    left: 106px;
    top: 34.976px;
    overflow: visible;
}
#BOMBAY_BITES_m {
    left: 151px;
    top: 341px;
    position: absolute;
    overflow: visible;
    width: 630px;
    white-space: nowrap;
    text-align: left;
    font-family: Trebuchet MS;
    font-size: 100px;
    color: rgba(255,204,0,1);
}
#Para {
    left: 151px;
    top: 499px;
    position: absolute;
    overflow: visible;
    width: 1099px;
    white-space: nowrap;
    line-height: 53px;
    margin-top: -9px;
    text-align: left;
    font-family: Trebuchet MS;
    font-size: 35px;
    color: rgba(159,159,159,1);
}
#food-png-2962 {
    position: absolute;
    width: 492px;
    height: 264px;
    left: 1318px;
    top: 449px;
    overflow: visible;
}
#Home {
    left: 1244px;
    top: 120px;
    position: absolute;
    overflow: visible;
    width: 78px;
    white-space: nowrap;
    text-align: left;
    font-family: Trebuchet MS;
    font-size: 30px;
    color: rgba(255,255,255,1);
}
#About {
    left: 1675px;
    top: 120px;
    position: absolute;
    overflow: visible;
    width: 80px;
    white-space: nowrap;
    text-align: left;
    font-family: Trebuchet MS;
    font-size: 30px;
    color: rgba(255,204,0,1);
}
#Contact {
    left: 1509px;
    top: 120px;
    position: absolute;
    overflow: visible;
    width: 106px;
    white-space: nowrap;
    text-align: left;
    font-family: Trebuchet MS;
    font-size: 30px;
    color: rgba(255,255,255,1);
}
#Items {
    left: 1378px;
    top: 120px;
    position: absolute;
    overflow: visible;
    width: 75px;
    white-space: nowrap;
    text-align: left;
    font-family: Trebuchet MS;
    font-size: 30px;
    color: rgba(255,255,255,1);
}
#Line_1 {
    fill: transparent;
    stroke: rgba(255,204,0,1);
    stroke-width: 4px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_1 {
    overflow: visible;
    position: absolute;
    width: 83.5px;
    height: 4px;
    left: 1675px;
    top: 163.5px;
    transform: matrix(1,0,0,1,0,0);
}