.mediaViewInfo {
    --web-view-name: Web 1920 – 7;
    --web-view-id: Web_1920__7;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Web_1920__7;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Web_1920__7 {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: rgba(17,17,17,1);
    overflow: hidden;
    --web-view-name: Web 1920 – 7;
    --web-view-id: Web_1920__7;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
@keyframes fadein {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
#customer-support-staff-smiles {
    opacity: 0.12;
    position: absolute;
    width: 1920px;
    height: 2560px;
    left: 0px;
    top: -870px;
    overflow: visible;
}
#BOMBAY_BITES {
    left: 306px;
    top: 108px;
    position: absolute;
    overflow: visible;
    width: 316px;
    white-space: nowrap;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: cook home.html;
    cursor: pointer;
    text-align: left;
    font-family: Trebuchet MS;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(255,255,255,1);
}
#Mobile_No_97671 {
    left: 152px;
    top: 467px;
    position: absolute;
    overflow: visible;
    width: 298px;
    white-space: nowrap;
    text-align: left;
    font-family: Trebuchet MS;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(213,213,213,1);
}
#Email_bombaybitessomethingcom {
    left: 152px;
    top: 530px;
    position: absolute;
    overflow: visible;
    width: 494px;
    white-space: nowrap;
    text-align: left;
    font-family: Trebuchet MS;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(213,213,213,1);
}
#Time_runs_So_we_Items_are_deli {
    left: 591px;
    top: 697px;
    position: absolute;
    overflow: visible;
    width: 740px;
    white-space: nowrap;
    text-align: left;
    font-family: Trebuchet MS;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(213,213,213,1);
}
#Items_once_placed_cannot_be_ca {
    left: 554px;
    top: 743px;
    position: absolute;
    overflow: visible;
    width: 814px;
    white-space: nowrap;
    text-align: left;
    font-family: Trebuchet MS;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(213,213,213,1);
}
#kisspng-catering-food-computer {
    position: absolute;
    width: 200px;
    height: 207.024px;
    left: 106px;
    top: 34.976px;
    overflow: visible;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: cook home.html;
    cursor: pointer;
}
#Contact {
    left: 152px;
    top: 341px;
    position: absolute;
    overflow: visible;
    width: 211px;
    white-space: nowrap;
    text-align: left;
    font-family: Trebuchet MS;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    color: rgba(255,204,0,1);
}
#ID24 {
    left: 1446px;
    top: 461px;
    position: absolute;
    overflow: visible;
    width: 64px;
    white-space: nowrap;
    text-align: left;
    font-family: Trebuchet MS;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    color: rgba(255,204,0,1);
}
#ID7 {
    left: 1562px;
    top: 464px;
    position: absolute;
    overflow: visible;
    width: 32px;
    white-space: nowrap;
    text-align: left;
    font-family: Trebuchet MS;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    color: rgba(255,204,0,1);
}
# {
    left: 1524px;
    top: 475px;
    position: absolute;
    overflow: visible;
    width: 27px;
    white-space: nowrap;
    text-align: left;
    font-family: Trebuchet MS;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    color: rgba(255,204,0,1);
}
#We_are_available {
    left: 1286px;
    top: 341px;
    position: absolute;
    overflow: visible;
    width: 448px;
    white-space: nowrap;
    text-align: left;
    font-family: Trebuchet MS;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    color: rgba(213,213,213,1);
}
#Home {
    left: 1244px;
    top: 120px;
    position: absolute;
    overflow: visible;
    width: 78px;
    white-space: nowrap;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: cook home.html;
    cursor: pointer;
    text-align: left;
    font-family: Trebuchet MS;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(213,213,213,1);
}
#About {
    left: 1675px;
    top: 120px;
    position: absolute;
    overflow: visible;
    width: 80px;
    white-space: nowrap;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Web_1920___6.html;
    cursor: pointer;
    text-align: left;
    font-family: Trebuchet MS;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255,255,255,1);
}
#Contact_x {
    left: 1509px;
    top: 120px;
    position: absolute;
    overflow: visible;
    width: 106px;
    white-space: nowrap;
    text-align: left;
    font-family: Trebuchet MS;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255,204,0,1);
}
#Items {
    left: 1378px;
    top: 120px;
    position: absolute;
    overflow: visible;
    width: 75px;
    white-space: nowrap;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Web_1920___8.html;
    cursor: pointer;
    text-align: left;
    font-family: Trebuchet MS;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255,255,255,1);
}
#Line_1 {
    fill: transparent;
    stroke: rgba(255,204,0,1);
    stroke-width: 4px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_1 {
    overflow: visible;
    position: absolute;
    width: 109.5px;
    height: 4px;
    left: 1509px;
    top: 163.5px;
    transform: matrix(1,0,0,1,0,0);
}